<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Declare StartActivity as the launcher activity -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare other activities -->
        <activity
            android:name=".LogsActivity"
            android:exported="false" />
        <activity
            android:name=".Fox1LoggerActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />

        <!-- Declare MainActivity (Fox 2 Logger) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Fox 2 Logger"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
